In [1]:
!pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\this-pc\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\this-pc\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\this-pc\appdata\roaming\python\python313\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\this-pc\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\this-pc\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\this-pc\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\this-pc\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\this-pc\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
file_path = r"C:\my revision\bank statement 1.xlsx"  # ðŸ‘ˆ change this path
all_sheets = pd.read_excel(file_path, sheet_name=None, engine="openpyxl")

print("Number of sheets found:", len(all_sheets))

Number of sheets found: 63

In [4]:
# Get standard header from the first sheet
first_sheet_name = list(all_sheets.keys())[0]
standard_columns = all_sheets[first_sheet_name].columns
print("Header columns:", list(standard_columns))

Header columns: ['Trans. Time', 'Value Date', 'Description', 'Debit/Credit(â‚¦)', 'Balance(â‚¦)', 'Channel', 'Transaction Reference', 'Counterparty']

In [6]:
combined_df = pd.DataFrame()

for name, sheet in all_sheets.items():
    print(f"Processing {name}...")

    # Drop completely blank rows and columns
    sheet = sheet.dropna(how='all').dropna(axis=1, how='all')

    # Make sure number of columns match
    if len(sheet.columns) != len(standard_columns):
        sheet = sheet.iloc[:, :len(standard_columns)]  # keep only first N columns

    # Assign consistent headers
    sheet.columns = standard_columns

    # Drop extra blank rows
    sheet = sheet.dropna(how='all')

    # Combine
    combined_df = pd.concat([combined_df, sheet], ignore_index=True)

print("âœ… All sheets combined successfully!")

Processing Table 2...
Processing Table 3...
Processing Table 4...
Processing Table 5...
Processing Table 6...
Processing Table 7...
Processing Table 8...
Processing Table 9...
Processing Table 10...
Processing Table 11...
Processing Table 12...
Processing Table 13...
Processing Table 14...
Processing Table 15...
Processing Table 16...
Processing Table 17...
Processing Table 18...
Processing Table 19...
Processing Table 20...
Processing Table 21...
Processing Table 22...
Processing Table 23...
Processing Table 24...
Processing Table 25...
Processing Table 26...
Processing Table 27...
Processing Table 28...
Processing Table 29...
Processing Table 30...
Processing Table 31...
Processing Table 32...
Processing Table 33...
Processing Table 34...
Processing Table 35...
Processing Table 36...
Processing Table 37...
Processing Table 38...
Processing Table 39...
Processing Table 40...
Processing Table 41...
Processing Table 42...
Processing Table 43...
Processing Table 44...
Processing Table 45...
Processing Table 46...
Processing Table 47...
Processing Table 48...
Processing Table 49...
Processing Table 50...
Processing Table 51...
Processing Table 52...
Processing Table 53...
Processing Table 54...
Processing Table 55...
Processing Table 56...
Processing Table 57...
Processing Table 58...
Processing Table 59...
Processing Table 60...
Processing Table 61...
Processing Table 62...
Processing Table 63...
Processing Table 64...
âœ… All sheets combined successfully!

In [7]:
combined_df.to_excel("combined_bank_statement_cleaned.xlsx", index=False)

In [9]:
import pandas as pd

# Step 1 â€” Load all sheets
file_path = r"C:\Users\THIS-PC\Jupyter work\combined_bank_statement_cleaned.xlsx"  # ðŸ‘ˆ change this to your actual path
all_sheets = pd.read_excel(file_path, sheet_name=None, engine="openpyxl")

# Step 2 â€” Define your standard columns manually
standard_columns = [
    'Trans. Time',
    'Value Date',
    'Description',
    'Debit/Credit(â‚¦)',
    'Balance(â‚¦)',
    'Channel',
    'Transaction Reference',
    'Counterparty'
]

# Step 3 â€” Combine safely
combined_df = pd.DataFrame()

for name, sheet in all_sheets.items():
    print(f"Processing sheet: {name}")

    # Drop completely blank rows/columns
    sheet = sheet.dropna(how='all').dropna(axis=1, how='all')

    # Keep only the first 8 columns if more exist
    if len(sheet.columns) > len(standard_columns):
        sheet = sheet.iloc[:, :len(standard_columns)]

    # If there are fewer columns, pad them with empty ones
    elif len(sheet.columns) < len(standard_columns):
        for i in range(len(sheet.columns), len(standard_columns)):
            sheet[f"Missing_{i}"] = None

    # Assign consistent column names
    sheet.columns = standard_columns

    # Drop fully empty rows
    sheet = sheet.dropna(how='all')

    # Combine
    combined_df = pd.concat([combined_df, sheet], ignore_index=True)

print("âœ… All sheets combined successfully!")

# Step 4 â€” Final clean-up
combined_df = combined_df.drop_duplicates().reset_index(drop=True)

# Step 5 â€” Save to Excel
combined_df.to_excel("combined_bank_statement_cleaned.xlsx", index=False)

print("âœ… Saved as 'combined_bank_statement_cleaned.xlsx'")

Processing sheet: Sheet1
âœ… All sheets combined successfully!
âœ… Saved as 'combined_bank_statement_cleaned.xlsx'

In [10]:
import pandas as pd

# Load your cleaned combined file
file_path = r"C:\Users\THIS-PC\Jupyter work\combined_bank_statement_cleaned.xlsx"  # ðŸ‘ˆ update path
df = pd.read_excel(file_path)

df.head()

,Trans. Time,Value Date,Description,Debit/Credit(â‚¦),Balance(â‚¦),Channel,Transaction Reference,Counterparty
0,2024 Jun 30 05:24:32,2024-06-30 00:00:00,Transfer to UDE BLESSING,-35000,551616.32,E-Channel,240630023694173638,First Bank Of Nigeria | 3087300146
1,2024 Jun 30 05:25:30,2024-06-30 00:00:00,Transfer to AZUTURU OKORO OKORO,-5000,546616.32,E-Channel,240630023694224750,United Bank For Africa | 2147093132
2,2024 Jun 30 15:04:18,2024-06-30 00:00:00,Transfer to Gods grace pos 2,-6850,539766.32,E-Channel,240630024088044842,MONIE POINT | 8273964299
3,2024 Jun 30 15:07:31,2024-06-30 00:00:00,Transfer to Gods grace pos 2,-4310,535456.32,E-Channel,240630024078518301,MONIE POINT | 8273964299
4,2024 Jun 30 18:53:43,2024-06-30 00:00:00,Transfer to SHARWAMA DELIGHT LOM ALINDA,-3010,532446.32,E-Channel,240630024290666559,MONIE POINT | 5432873681

In [11]:
print(df.columns.tolist())

['Trans. Time', 'Value Date', 'Description', 'Debit/Credit(â‚¦)', 'Balance(â‚¦)', 'Channel', 'Transaction Reference', 'Counterparty']

In [12]:
# Create new Transaction Type and Amount columns
df['Transaction Type'] = df['Debit/Credit(â‚¦)'].apply(
    lambda x: 'Debit' if str(x).startswith('-') or '(' in str(x) else 'Credit'
)

# Convert Amount to numeric (remove â‚¦, commas, brackets, etc.)
df['Amount'] = df['Debit/Credit(â‚¦)'].astype(str)
df['Amount'] = df['Amount'].str.replace('[â‚¦,()]', '', regex=True).str.strip()
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Convert Debit values to negative
df.loc[df['Transaction Type'] == 'Debit', 'Amount'] *= -1

In [13]:
# Convert date columns
df['Value Date'] = pd.to_datetime(df['Value Date'], errors='coerce')

# Clean Balance column
df['Balance(â‚¦)'] = df['Balance(â‚¦)'].astype(str).str.replace('[â‚¦,()]', '', regex=True).str.strip()
df['Balance(â‚¦)'] = pd.to_numeric(df['Balance(â‚¦)'], errors='coerce')

In [14]:
df = df[['Trans. Time', 'Value Date', 'Description', 'Transaction Type', 'Amount',
         'Balance(â‚¦)', 'Channel', 'Transaction Reference', 'Counterparty']]

In [16]:
df.head(50)

,Trans. Time,Value Date,Description,Transaction Type,Amount,Balance(â‚¦),Channel,Transaction Reference,Counterparty
0,2024 Jun 30 05:24:32,2024-06-30,Transfer to UDE BLESSING,Debit,35000.0,551616.32,E-Channel,240630023694173638,First Bank Of Nigeria | 3087300146
1,2024 Jun 30 05:25:30,2024-06-30,Transfer to AZUTURU OKORO OKORO,Debit,5000.0,546616.32,E-Channel,240630023694224750,United Bank For Africa | 2147093132
2,2024 Jun 30 15:04:18,2024-06-30,Transfer to Gods grace pos 2,Debit,6850.0,539766.32,E-Channel,240630024088044842,MONIE POINT | 8273964299
3,2024 Jun 30 15:07:31,2024-06-30,Transfer to Gods grace pos 2,Debit,4310.0,535456.32,E-Channel,240630024078518301,MONIE POINT | 8273964299
4,2024 Jun 30 18:53:43,2024-06-30,Transfer to SHARWAMA DELIGHT LOM ALINDA,Debit,3010.0,532446.32,E-Channel,240630024290666559,MONIE POINT | 5432873681
5,2024 Jul 01 08:30:58,2024-07-01,Transfer to CHINELO LILIAN ASADU,Debit,55000.0,477446.32,E-Channel,240701014621348264,OPay | 9035351128
6,2024 Jul 02 02:50:18,2024-07-02,Transfer from BUD INFRASTRUCTURE LTD,Credit,115717.0,593163.32,E-Channel,000030240702035017361120\n041930,Parallex Bank | 1000130886
7,2024 Jul 02 03:00:05,2024-07-02,Transfer from Transfer,Credit,59448.0,652611.32,E-Channel,0904052407020400053792\n08252843,MONIE POINT | 1017432705
8,2024 Jul 02 03:42:03,2024-07-02,Transfer from Transfer,Credit,235794.0,888405.32,E-Channel,0904052407020442034508\n59176970,MONIE POINT | 1017432705
9,2024 Jul 02 08:44:35,2024-07-02,Transfer to CHUKWUEMEKA DESMOND NNAMANI,Debit,820000.0,68405.32,E-Channel,240702025522109831,United Bank For Africa | 2308056659
10,2024 Jul 02 15:26:17,2024-07-02,Transfer from CHINYERE MARY ONYEKONWU,Credit,80000.0,148405.32,E-Channel,240702015865361798,OPay | 8134846959
11,2024 Jul 02 16:04:16,2024-07-02,Transfer from SwiftCash1,Credit,60000.0,208405.32,E-Channel,09040524070217041459001,MONIE POINT | 1017432705
12,NaN,2024-07-02,Transfer to CHUKWUEMEKA,Debit,180000.0,28405.32,E-Channel,240702025909221495,United Bank For Africa |
13,NaN,NaT,DESMOND NNAMANI,Credit,NaN,NaN,NaN,NaN,2308056659
14,2024 Jul 02 22:11:52,2024-07-02,Mobile Data,Debit,600.0,27805.32,E-Channel,240702116220937019,NaN
15,2024 Jul 02 22:39:39,2024-07-02,Transfer to UZOCHI PRINCESS,Debit,4000.0,23805.32,E-Channel,240702026233232390,United Bank For Africa | 2147093132
16,NaN,NaT,IWEJUO,Credit,NaN,NaN,NaN,NaN,NaN
17,2024 Jul 02 23:46:02,2024-07-02,Transfer from Transfer,Credit,177739.0,201544.32,E-Channel,0904052407030046018380,MONIE POINT | 1017432705
18,NaN,NaT,NaN,Credit,NaN,NaN,NaN,57173103,NaN
19,2024 Jul 03 02:22:27,2024-07-03,Transfer to ESTHER CHIGOZIE,Debit,50000.0,151544.32,E-Channel,240703016254433851,OPay | 8139553575
20,NaN,NaT,CHIBUIKEM,Credit,NaN,NaN,NaN,NaN,NaN
21,2024 Jul 03 09:29:36,2024-07-03,Transfer to Emmy Best supper mkt,Debit,8100.0,143444.32,E-Channel,240703026441351103,MONIE POINT | 8182148667
22,2024 Jul 03 15:52:58,2024-07-03,Transfer to UZOCHI PRINCESS,Debit,11000.0,132444.32,E-Channel,240703026786566577,Palmpay | 8162258110
23,NaN,NaT,IWEJUO,Credit,NaN,NaN,NaN,NaN,NaN
24,2024 Jul 03 17:22:43,2024-07-03,Transfer to KILIMANJARO ENUGU 4,Debit,13000.0,119444.32,E-Channel,240703016859542737,OPay | 9552219754
25,2024 Jul 03 20:09:21,2024-07-03,Transfer to UZOCHI PRINCESS,Debit,50000.0,69444.32,E-Channel,240703027026378563,Palmpay | 8162258110
26,NaN,NaT,IWEJUO,Credit,NaN,NaN,NaN,NaN,NaN
27,2024 Jul 03 22:23:55,2024-07-03,Transfer to JUSTINA AHUEKWE,Debit,32010.0,37434.32,E-Channel,240703027136500097,Access Bank | 0774211008
28,NaN,NaT,EZEOFFOR,Credit,NaN,NaN,NaN,NaN,NaN
29,2024 Jul 04 10:50:47,2024-07-04,Transfer to AUGUSTINE O NDUKWE,Debit,9600.0,27834.32,E-Channel,240704027444468017,Access Bank | 0069052852
30,2024 Jul 04 11:34:01,2024-07-04,Card Maintenance Fee,Debit,50.0,27784.32,E-Channel,240704147479315002,NaN
31,2024 Jul 04 19:23:21,2024-07-04,Airtime,Debit,2000.0,25784.32,E-Channel,240704107919500503,NaN
32,2024 Jul 05 09:10:45,2024-07-05,Transfer from UZOMA FAVOUR ORJI,Credit,17500.0,43284.32,E-Channel,00001424070510104523226,accessBank | 1558691946
33,NaN,NaT,NaN,Credit,NaN,NaN,NaN,2931858,NaN
34,2024 Jul 05 13:05:19,2024-07-05,Airtime,Debit,6000.0,37284.32,E-Channel,240705108479265225,NaN
35,2024 Jul 06 23:42:42,2024-07-06,Transfer from Chukwuemeka,Credit,48380.0,85664.32,E-Channel,09055124070700424167259,Fairmoney MFB | 1221522829
36,NaN,NaT,Nnamani,Credit,NaN,NaN,NaN,6034868,NaN
37,2024 Jul 07 11:31:55,2024-07-07,Transfer to samson ndubuisi,Debit,10150.0,75514.32,E-Channel,240707020179619602,Palmpay | 8900110253
38,NaN,NaT,ezeliora,Credit,NaN,NaN,NaN,NaN,NaN
39,2024 Jul 07 11:46:08,2024-07-07,Transfer to EBUBECHUKWU,Debit,10000.0,65514.32,E-Channel,240707010182326013,OPay | 7033883752
40,NaN,NaT,BENEDICT ANI,Credit,NaN,NaN,NaN,NaN,NaN
41,2024 Jul 08 11:48:23,2024-07-08,Transfer to UKPAH NNEDIMMA,Debit,10000.0,55514.32,E-Channel,240708021036182540,FCMB(First City Monument Bank
42,NaN,NaT,NaN,Credit,NaN,NaN,NaN,NaN,PLC) | 5168999011
43,2024 Jul 08 16:01:07,2024-07-08,Transfer to MARY CHINECHEREM,Debit,5000.0,50514.32,E-Channel,240708011233396719,OPay | 9015295703
44,NaN,NaT,EZEH,Credit,NaN,NaN,NaN,NaN,NaN
45,2024 Jul 09 09:46:06,2024-07-09,Transfer to HAPPINESS,Debit,600.0,49914.32,E-Channel,240709021808095082,United Bank For Africa |
46,NaN,NaT,CHINECHEREM NWOYE,Credit,NaN,NaN,NaN,NaN,2325615019
47,2024 Jul 09 10:44:41,2024-07-09,Transfer from CINDY NWEZE,Credit,13600.0,63514.32,E-Channel,09040524070911444125595,MONIE POINT | 1017432705
48,NaN,NaT,NaN,Credit,NaN,NaN,NaN,3849173,NaN
49,2024 Jul 09 11:24:05,2024-07-09,Transfer to POS Transfer-Uzoigwe,Debit,20000.0,43514.32,E-Channel,240709021901360219,MONIE POINT | 5670778298

In [17]:
df = df.dropna(how='all')
print("âœ… Fully empty rows removed.")

âœ… Fully empty rows removed.

In [18]:
df = df.dropna(subset=['Description', 'Amount'], how='any')
print("âœ… Removed rows without Description or Amount.")

âœ… Removed rows without Description or Amount.

In [20]:
df['Trans. Time'] = df['Trans. Time'].fillna('00:00')

In [22]:
df = df.reset_index(drop=True)
df.to_excel("bank_statement_powerbi_ready_clean.xlsx", index=False)

print("âœ… Clean Power BI file saved successfully!")

âœ… Clean Power BI file saved successfully!